<%- include('../partials/header') %>
<ul>
  <% skills.forEach(function(s) { %>
    <li>
      <a href="/skills/<%= s.id %>"><%= s.skill %></a>
      - 
      <%= s.done ? 'Lesson Completed' : 'Lesson Not Started' %>
    </li>
    <% }); %>
  </ul>

  <%- include('../partials/footer') %>