<%- include('../partials/header') %>
<ul>
  <% skills.forEach(function(s) { %>
    <li>
      <a href="/skills/<%= s.id %>"><%= s.skill %></a>
      - 
      <%= s.done ? 'Lesson Completed' : 'Lesson Not Started' %>
    </li>
  <% }); %>
</ul>
<a href="/skills/new">Add to List</a>

  <%- include('../partials/footer') %>